/* http://jaydenseric.com/blog/forget-normalize-or-resets-lay-your-own-css-foundation */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0;font:16px/1 sans-serif;-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased}blockquote,figure,h1,h2,h3,h4,ol,p,ul{margin:0;padding:0}li,main{display:block}h1,h2,h3,h4{font-size:inherit}strong{font-weight:700}a,button{color:inherit;}a:hover,button:hover{transition:.1s}a{text-decoration:none}button{overflow:visible;border:0;font:inherit;-webkit-font-smoothing:inherit;letter-spacing:inherit;background:0 0;cursor:pointer}
/* apply a natural box layout model to all elements, but allowing components to change */
html {box-sizing: border-box;}*, *:before, *:after {box-sizing: inherit;}
/* utils */
.clearfix:after {
    content:" ";
    display:block;
    clear:both;
}

/* main */

body {
  font-family: "proxima-nova", sans-serif;
  background-color: #F5EAD3;
}

.site-header {
  text-align: center;
  margin-top: 90px;
  margin-bottom: 50px;
}

.profile-photo {
  width: 117px;
  vertical-align: bottom;
}

.profile-name {
  background-color: #469e6d;
  color: #fff;
  font-weight: 800;
  font-size: 58px;
  padding-top: .3em;
  padding-bottom: .3em;
}

// CONTACT FORM

.contact-form {
}

.contact-me-text {
  text-align: center;
  font-size: 24px;
  margin-bottom: 2rem;
}

form.email-is-focused .form-group.email .form-label {
  display: none;
}

.form-group {
  position: relative;
}

.form-group.email {
  width: 400px;
  height: 40px;
  margin: 0 auto 1rem;
}

.form-label {
  position: absolute;
  width: 100%;
  top: 5px;
  font-family: "liquorstore-jazz",sans-serif;
  font-size: 24px;
  text-align: center;
  cursor: text;
}

.form-group.message .form-label {
  top: 60px;
}

.form-input, .form-textarea {
  width: 100%;
  height: 100%;
  border: 1px solid #222;
  font-size: 18px;
  padding: 0 8px;
}

.form-textarea {
  padding: 6px 8px;
}

.lightning-bolt {
  position: relative;
  bottom: -4px;
  left: 0;
  height: 22px;
  margin-right: .4rem;
}

.form-group.message {
  width: 400px;
  height: 160px;
  margin: 0 auto;
}

.site-width-container {
  max-width: 1200px;
  margin: 0 auto;
}

.col {
  width: 50%;
  float: left;
}

.section {
  margin-bottom: 3rem;
}

.section-header {
  font-weight: bold; // temporary
}

.footer {
  clear: both;
}