/* http://jaydenseric.com/blog/forget-normalize-or-resets-lay-your-own-css-foundation */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0;font:16px/1 sans-serif;-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased}blockquote,figure,h1,h2,h3,h4,ol,p,ul{margin:0;padding:0}li,main{display:block}h1,h2,h3,h4{font-size:inherit}strong{font-weight:700}a,button{color:inherit;}a:hover,button:hover{transition:.1s}a{text-decoration:none}button{overflow:visible;border:0;font:inherit;-webkit-font-smoothing:inherit;letter-spacing:inherit;background:0 0;cursor:pointer}
/* apply a natural box layout model to all elements, but allowing components to change */
html {box-sizing: border-box;}*, *:before, *:after {box-sizing: inherit;}
/* utils */
.clearfix:after {
    content:" ";
    display:block;
    clear:both;
}

/* main */

body {
  font-family: "proxima-nova", sans-serif;
  background-color: #F5EAD3;
}

.site-header {
  text-align: center;
  margin-top: 90px;
  margin-bottom: 50px;
}

.col {
  width: 50%;
  float: left;
}

.col.one {
  padding-right: 3rem;
}

.col.two {
  padding-left: 3rem;
}

.profile-photo {
  width: 117px;
  vertical-align: bottom;
}

.profile-name {
  background-color: #469e6d;
  color: #fff;
  font-weight: 800;
  font-size: 58px;
  padding-top: .3em;
  padding-bottom: .3em;
}

/* contact form */

.contact-form {
  text-align: center;
  margin-bottom: 4rem;
}

.contact-me-text {
  font-size: 24px;
  margin-bottom: 1.5rem;
}

form.email-is-focused .form-group.email .form-label, form.message-is-focused .form-group.message .form-label {
  display: none;
}

.form-group {
  position: relative;
}

.form-group {
  width: 400px;
  margin: 0 auto 1.1rem;
}

.form-group.email {
  height: 40px;
}

.form-group.message {
  height: 160px;
}

.form-label {
  position: absolute;
  width: 100%;
  top: 5px;
  font-family: "liquorstore-jazz",sans-serif;
  font-size: 24px;
  text-align: center;
  cursor: text;
}

.form-group.message .form-label {
  top: 60px;
}

.form-input, .form-textarea {
  width: 100%;
  height: 100%;
  border: 1px solid #222;
  font-size: 18px;
  padding: 0 8px;
}

.form-textarea {
  padding: 6px 8px;
}

.lightning-bolt {
  position: relative;
  bottom: -4px;
  left: 0;
  height: 22px;
  margin-right: .4rem;
}

.send-button {
  font-family: "liquorstore-jazz",sans-serif;
  font-size: 24px;
  padding: 7px 22px 8px 56px;
  background-size: 21px 15px;
  background-image: url("/svgs/envelope.svg");
  background-repeat: no-repeat;
  background-position: 22px 12px;
  color: #ffffff;
  outline: 1px solid #222222;
  border-top: 1px solid #5FD486;
  background-color: #32ab5a;
}

.send-button:hover {
  outline: 1px solid #555;
  border-top: 1px solid #61BA7F;
  background-color: #47B56B;
}

.site-width-container {
  max-width: 1200px;
  margin: 0 auto;
}

/* stuff */

.stuff {
  background-color: #F0D7AD;
  padding: 4rem 0;
}

.stuff .item .link {
  margin-bottom: .75em;
}

.stuff .link a {
  color: #e11280;
  text-decoration: underline;
  font-size: 24px;
  font-weight: 300;
}

.stuff .link a:hover {
  color: #222222;
}

.section {
  margin-bottom: 2.5rem;
}

.section-header {
  font-family: "liquorstore-jazz",sans-serif;
  font-size: 24px;
  margin-bottom: 1rem;
}

.regular-list .item, .bulleted-list .item {
  margin-bottom: 1.3rem;
}

.regular-list .content, .bulleted-list .content {
  padding-left: 1rem;
}

.list-heading {
  font-size: 22px;
  font-weight: 300;
  margin-bottom: .5em;
}

.bullet {
  font-size: 26px;
}

.offline-text, .offline-tag {
  font-size: 24px;
  font-weight: 300;
}

.offline-text {
  font-weight: 400;
}

.link-list .link {
  margin-bottom: 1em;
}


/* footer */

.footer {
  clear: both;
  background-color: #333;
  font-weight: 300;
  text-align: center;
  padding: 3rem 0 4rem;
  color: #F0D7AD;
}

.footer a {
  text-decoration: underline;
}

.footer a:hover {
  color: #fff;
}

.thank-you {
  font-size: 24px;
  margin-bottom: 2rem;
}

.open-source-notice {
  font-size: 18px;
  margin-bottom: 2.2rem;
}

.unicorn {
  width: 70px;
}